@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #fad9618b;
  background-image: linear-gradient(343deg, #8ec5fc00 0%, #e9d2ff 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.button-custom{
  transition: background-color 0.3s ease;
}
.button-custom:hover {
  background-color: rgb(0, 0, 0);
}


.rest  {
  --primary-color: #9436e8;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 30px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  
}

.rest  .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rest .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.rest .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.rest:hover {
  background-color: var(--hover-color);
}

.rest:hover .arrow {
  background: var(--secondary-color);
}

.rest:hover .arrow:before {
  right: 0;
}